@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chessboard using Pure CSS and HTML</title>
</head>
<body>
    <input type="button" value="Redirect" onclick="window.location='@Url.Action("StartGame", "Home")'" />
</body>
</html>
