@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="~/js/Actions.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chessboard using Pure CSS and HTML</title>
</head>
<body>
    <div id="board" class="chessboard" ; float:left">
        @{bool isWhite = false; }

        @for (int i = 1; i < 9; i++)
        {
            isWhite = !isWhite;
            @for (int x = 1; x < 9; x++)
            {
                if (isWhite)
                {
                    <div class="box white" id="box-@i-@x"></div>
                }
                else
                {
                    <div class="box black" id="box-@i-@x"></div>
                }
                isWhite = !isWhite;
            }

        }
    </div>
</body>
</html>
